.hp-section {
    display: grid;
    grid-template-columns:
        [fullw-start]1.5rem [content-start] 1fr [content-end] 1.5rem[fullw-end];
}

@media screen and (width >=37.5rem) {
    .hp-section {
        grid-template-columns:
            [fullw-start]1.5rem [content-start] 1fr 1fr [content-end] 1.5rem[fullw-end];
    }
}

@media screen and (width >=64rem) {
    .hp-section {
        grid-template-columns:
            [fullw-start]1fr [content-start] repeat(6, 10rem) [content-end] 1fr[fullw-end];
    }
}