*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

li{
    list-style: none;
}

.gray-background {
    background-color: #F8F8FB;
    height: 100%;
}
